body{
	background-color: lightblue;
	border: 5px double white;
	padding: 30px;
	
}

h1{
	color: white;
	font-family: courier;
	font-size: 350%;
}


h2{
	color: white;
	font-family: verdana;
	font-size: 220%;
	
}

p{
	color: white;
	font-family: verdana;
	font-size: 170%;

}
