body{
	background-color: lightblue;
	border: 5px double white;
	padding: 30px;
	
}


h2{
	color: white;
	font-family: verdana;
	font-size: 350%;
	
}

p{
	color: white;
	font-family: verdana;
	font-size: 100%;

}
